<table class="table-form pane">
  <tr id="scenario">
    <td><input type="text" class="scenario-title" maxlength="80" placeholder="Наименование сценария"></td>
    <td class="cw-entity-uid"><input type="text" class="scenario-uid" maxlength="12" placeholder="UID"></td>
    <td class="cw-btn-one">
      <button type="submit" class="btn btn-blue ico-plus scenario-insert" title="Добавить"></button>
    </td>
  </tr>
</table>