{{#if scenarios}}
  <table class="table-data">
    {{#each scenarios}}
      <tr id="scenario_{{id}}" data-scenario="{{id}}">
        <td class="cw-btn-one">
          <button class="btn btn-green ico-update scenario-update" title="Редактировать"></button>
        </td>
        <td>
          <div class="scenario-info">{{title}}</div>
          <input type="text" class="scenario-title" value="{{title}}" maxlength="80" style="display: none;">
        </td>
        <td class="cw-entity-uid">
          <input type="text" class="scenario-uid" value="{{uid}}" maxlength="12" placeholder="UID" disabled>
        </td>
        <td class="cw-btn-one">
          <button class="btn btn-gray ico-delete scenario-delete" title="Удалить"></button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}