@font-face {
  font-family: 'Scada';
  src: url('../fonts/scada-regular.eot');
  src: url('../fonts/scada-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/scada-regular.woff') format('woff'),
  url('../fonts/scada-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Glyphicons';
  src: url('../fonts/glyphicons-regular.eot');
  src: url('../fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/glyphicons-regular.woff') format('woff'),
  url('../fonts/glyphicons-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

[class*='ico-'] {
  position: relative;
}

[class*='ico-']::before {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-family: 'Glyphicons', sans-serif;
  line-height: 20px;
}

label[class^='ico-'] {
  display: block;
}

label[class^='ico-']::before {
  position: absolute;
  top: 5px;
  left: 2px;
}

[class*='ico-'] input[type='text'],
[class*='ico-'] input[type='password'] {
  padding-left: 23px;
}

.ico-username::before {
  content: '\e008';
}

.ico-password::before {
  content: '\e033';
}

.ico-login::before {
  content: '\e161';
}

.ico-plus::before {
  padding-left: 1px;
  content: '\2b';
}

.ico-update::before {
  content: '\270f';
}

.ico-delete::before {
  content: '\e020';
}

.ico-check::before {
  content: '\e013';
}

.ico-close::before {
  margin-top: 0;
  content: '\e014';
}

.ico-users::before {
  padding-left: 5px;
  color: #444;
  content: '\e008';
  text-shadow: -6px -2px 0 #999;
}

.ico-events::before {
  margin-top: -1px;
  content: '\e056';
}

.ico-scenarios::before {
  margin-top: -1px;
  color: #111;
  content: '\e009';
}

.ico-sequences::before {
  color: #444;
  content: '\e110';
}

.ico-logout::before {
  content: '\e163';
}

.ico-params::before {
  margin-top: -1px;
  content: '\e210';
}

.ico-props::before {
  color: #111;
  content: '\e067';
}

.ico-binds::before {
  content: '\e144';
  font-size: 14px !important;
}

.ico-export::before {
  padding-left: 1px;
  content: '\e166';
  font-size: 16px !important;
}

.ico-import::before {
  padding-left: 1px;
  content: '\e167';
  font-size: 16px !important;
}

.ico-file::before {
  content: '\e118';
  font-size: 15px !important;
}

.ico-repeat::before {
  content: '\e030';
}

.ico-refresh::before {
  content: '\e031';
  -webkit-animation: spin2 .7s infinite linear;
  animation: spin .7s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

html, body {
  font-size: 13px;
  font-family: 'Scada', sans-serif;
}

body {
  overflow-y: scroll;
}

.link, table a, table a:hover {
  color: #37b;
  line-height: 15px;
}

.link:hover, table a:hover {
  border-bottom: 1px solid #37b;
}

.link-binds {
  position: absolute;
  top: -26px;
  right: 6px;
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: -104px 0 0 -100px;
  width: 200px;
  height: 162px;
}

.auth-alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.auth-form {
  position: absolute;
  top: 46px;
  left: 0;
  padding: 6px;
  width: 100%;
}

.alert {
  position: relative;
  margin-top: 10px;
  padding: 4px 13px;
  border: 1px solid #dbb;
  border-radius: 4px;
  background: linear-gradient(#fff5f5, #edd);
  background: -webkit-linear-gradient(#fff5f5, #f5e5e5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
  color: #a55;
}

.alert:first-child {
  margin-top: 0;
}

.alert.ico-close::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  color: #dbb;
  line-height: 28px;
  cursor: pointer;
}

.alert.ico-close:hover::before {
  color: inherit;
}

.content {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
}

.content-title {
  margin: 15px 7px;
  font-size: 18px;
}

.pane {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f5f5f5;
  background: linear-gradient(to top, #eee 0px, #fff 38px);
  background: -webkit-linear-gradient(bottom, #eee 0px, #fff 38px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
}

.pane-files {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
}

.menu {
  margin-bottom: 20px;
  padding: 0;
  height: 43px;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.menu-logo {
  display: block;
  float: left;
  padding: 11px;
  color: #999;
}

.menu-item {
  display: block;
  float: left;
  height: 42px;
  border-left: 1px solid transparent;
}

.menu-down {
  padding: 0;
}

.menu-item a {
  display: block;
}

.menu-item > a {
  padding: 11px 7px 11px 4px;
}

.menu-item:hover {
  border-left: 1px solid #ccc;
  background: #fff;
}

.menu-item.last:hover,
.menu-item.last.active {
  border-right: 1px solid #ccc;
}

.menu-down {
  position: relative;
  padding: 0;
}

.menu-down-items {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  margin: 0 -1px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.menu-down:hover .menu-down-items {
  display: block;
}

.menu-down-item {
  padding: 10px 0;
  height: 40px;
  border-top: 1px solid #ccc;
}

.menu-down-item:first-child {
  border-top: none;
}

.menu-down-item:hover {
  background: #fff;
}

.menu-item.active {
  border-left: 1px solid #ccc;
  background: #fff;
  background: linear-gradient(#eee 0%, #fff 80%) !important;
  background: -webkit-linear-gradient(#eee 0%, #fff 80%) !important;
}

.menu-item.active + .menu-item,
.menu-item:hover + .menu-item {
  border-left: 1px solid #ccc;
}

.menu-logout {
  position: absolute;
  top: 10px;
  right: 11px;
}

.table-form {
  border-collapse: separate;
  border-radius: 4px;
}

.table-form th,
.table-form td {
  padding: 6px 3px;
}

.table-form th:first-child,
.table-form td:first-child {
  padding-left: 6px;
}

.table-form th:last-child,
.table-form td:last-child {
  padding-right: 6px;
}

.table-data th,
.table-data td {
  padding: 6px 3px;
  border-top: 1px solid #e3e3e3;
}

.table-data th:first-child,
.table-data td:first-child {
  padding-left: 7px;
}

.table-data th:last-child,
.table-data td:last-child {
  padding-right: 7px;
}

.table-data tr:first-child td,
.table-data tr:first-child th {
  border-top: none;
}

.table-data tr:hover {
  background: #f5f5f5;
}

.table-form .cw-btn-one {
  width: 33px;
}

.table-data .cw-btn-one {
  width: 39px;
}

.table-header:hover {
  background: none !important;
}

.table-header td,
.table-header th {
  vertical-align: bottom;
  line-height: 15px;
}

.cw-username {
  max-width: 200px;
  width: 200px;
}

.cw-password {
  max-width: 108px;
  width: 108px;
}

.cw-entity-uid,
.cw-param-range,
.cw-param-quality {
  max-width: 68px;
  width: 68px;
}

.cw-param-modality,
.cw-param-radicals {
  max-width: 42px;
  width: 42px;
}

.cw-param-entries {
  max-width: 238px;
  width: 238px;
}

.cw-param-type {
  max-width: 92px;
  width: 92px;
}

.cw-param-types {
  max-width: 105px;
  width: 105px;
}

.cw-event-modality {
  max-width: 86px;
  width: 86px;
}

.cw-event-radicals,
.cw-event-money {
  max-width: 100px;
  width: 100px;
}

.cw-sequence-radicals,
.cw-sequence-rule {
  max-width: 82px;
  width: 82px;
}

.cw-btn-one,
.cw-param-range,
.cw-param-range input,
.cw-param-modality input {
  text-align: center;
}

.cw-param-type input:disabled,
.cw-event-money input:disabled {
  text-align: right;
}

.btn {
  display: block;
  float: left;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 3.1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
  color: white;
  text-align: center;
  cursor: pointer;
}

.btn:before {
  color: #fff;
  font-size: 18px;
}

.pane .btn {
  box-shadow: none;
}

.btn + .btn,
.btn + input,
input + .btn {
  margin-left: 6px;
}

.btn-text {
  padding-right: 6px;
  width: auto;
  text-align: left;
  line-height: 20px;
}

.btn-text::before {
  margin-right: 3px;
}

.btn-menu, .btn-menu:focus {
  padding: 4px 0 4px 30px;
  border: none;
  background: none;
  box-shadow: none;
  color: inherit;
}

.btn-menu:before {
  color: #555;
  font-size: 12px;
}

.btn-default {
  border: 1px solid #ccc;
  background: #f5f5f5;
  background: linear-gradient(to top, #eee, #fff);
  background: -webkit-linear-gradient(bottom, #eee, #fff);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .075);
  color: inherit;
  cursor: default;
}

.btn-green, .btn-green:focus {
  border: 1px solid #383;
  background: #5b5;
  background: linear-gradient(#5b5, #383);
  background: -webkit-linear-gradient(#5b5, #383);
}

.btn-green:hover {
  border-color: #272;
  background: #4a4;
}

.btn-gray, .btn-gray:focus {
  border: 1px solid #888;
  background: #aaa;
  background: linear-gradient(#aaa, #888);
  background: -webkit-linear-gradient(#aaa, #888);
}

.btn-gray:hover {
  border-color: #777;
  background: #999;
}

.btn-blue, .btn-blue:focus {
  border: 1px solid #18b;
  background: #3ad;
  background: linear-gradient(#3ad, #18b);
  background: -webkit-linear-gradient(#3ad, #18b);
}

.btn-blue:hover {
  border-color: #07a;
  background: #29c;
}

.btn-red, .btn-red:focus {
  border: 1px solid #d55;
  background: #f77;
  background: linear-gradient(#f77, #d55);
  background: -webkit-linear-gradient(#f77, #d55);
}

.btn-red:hover {
  border-color: #c44;
  background: #e66;
}

.two-lines {
  width: 100%;
}

.scenario-info {
  padding: 5px 0;
  cursor: pointer;
}

.user-info {
  position: relative;
  line-height: 15px;
}

.user-info-date {
  position: absolute;
  top: 0;
  right: 0;
  color: #bbb;
  text-align: right;
}