html, body {
  width: 100%;
  height: 100%;
  color: #333;
  font-weight: normal;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 20px;
}

html, head, body, div, a, form,
input, button, select, textarea,
table, thead, tbody, tr, td, th {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div, a, form,
input, button, select, textarea,
table, thead, tbody, tr, td, th {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

div:not([dummy]) {
  filter: none !important;
}

.ui-box,
.ui-row,
.ui-tabs {
  position: relative;
}

.ui-box:after,
.ui-row:after,
.ui-tabs:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
}

[class*="ui-grid-"] {
  position: relative;
  display: block;
  float: left;
}

.ui-grid-1-2 {
  width: 50%;
}

.ui-grid-1-3 {
  width: 33.33%;
}

.ui-grid-2-3 {
  width: 66.66%;
}

.ui-grid-1-4 {
  width: 25%;
}

.ui-grid-3-4 {
  width: 75%;
}

.ui-grid-1-5 {
  width: 20%;
}

.ui-grid-2-5 {
  width: 40%;
}

.ui-grid-3-5 {
  width: 60%;
}

.ui-grid-4-5 {
  width: 80%;
}

.ui-grid-1-6 {
  width: 16.66%;
}

.ui-grid-5-6 {
  width: 83.33%;
}

.ui-grid-3-8 {
  width: 37.50%;
}

.ui-grid-5-8 {
  width: 62.50%;
}