.ui-row {
  margin-top: 6px;
}

.ui-row:first-child {
  margin-top: 0;
}

input::-webkit-input-placeholder { color: #aaa; opacity: 1; transition: opacity 0.3s ease; }

input::-moz-placeholder { color: #aaa; opacity: 1; transition: opacity 0.3s ease; }

input:-moz-placeholder { color: #aaa; opacity: 1; transition: opacity 0.3s ease; }

input:-ms-input-placeholder { color: #aaa; opacity: 1; transition: opacity 0.3s ease; }

input:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus::-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus:-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input:focus:-ms-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

input[type='text'],
input[type='password'],
.ui-file-name,
.ui-select-value,
.ui-checkbox {
  display: block;
  padding: 5px 6px;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  line-height: 20px;
}

input[type='text']:disabled,
input[type='password']:disabled {
  border-color: transparent;
  background: none;
  box-shadow: none;
  cursor: default;
}

.ui-file {
  display: none;
}

.ui-file-name {
  float: left;
  width: 120px !important;
}

.ui-checkbox {
  display: block;
  float: left;
  margin: 4px 0;
  padding: 0;
  width: 22px;
  height: 22px;
}

.ui-checkbox-title {
  display: block;
  float: left;
  padding: 5px 6px;
  color: #aaa;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ui-select,
.ui-select-list {
  position: relative;
  cursor: default;
}

.ui-select-title {
  padding: 0 7px 5px 7px;
  color: #777;
}

.ui-select-value {
  position: relative;
}

.ui-select-value {
  position: relative;
}

.ui-select-value[disabled] {
  background: #f5f5f5;
}

.ui-select-value::before {
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  color: #bbb;
  text-align: center;
  font-family: 'Glyphicons', sans-serif;
  line-height: 20px;
  cursor: pointer;
}

.ui-select .ui-select-value::before {
  background: no-repeat 50% 50% url('../images/ui/select-caret.png');
  content: '';
}

.ui-select-list .ui-select-value::before {
  content: '\e030';
}

.ui-select-options {
  display: block;
  padding: 3px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ui-select .ui-select-options {
  position: absolute;
  z-index: 1;
  display: none;
  margin-top: 2px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.ui-select-list .ui-select-options {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.ui-select[size='5'] .ui-select-options,
.ui-select-list[size='5'] .ui-select-options {
  height: 158px;
}

.ui-select[size='7'] .ui-select-options,
.ui-select-list[size='7'] .ui-select-options {
  height: 218px;
}

.ui-select-value + .ui-select-options,
.ui-select-options + .ui-select-value {
  margin-top: 6px;
}

.ui-select-option {
  position: relative;
  padding: 5px 3px;
  height: 30px;
  border-top: 1px solid #e3e3e3;
}

.ui-select-option:first-child {
  border-top: none !important;
}

.ui-select-option:hover {
  background: #f5f5f5;
}

.ui-select-option.is-active {
  border-top: 1px solid #fff;
  background: linear-gradient(to right, #e3e3e3, #fff);
  background: -webkit-linear-gradient(left, #e3e3e3, #fff);
}

.ui-select-option.is-active + .ui-select-option {
  border-top: 1px solid #fff;
}

.ui-select-meta {
  position: absolute;
  right: 2px;
  display: block;
  color: #bbb;
}

.ui-select-value .ui-select-meta {
  right: 22px;
}

.nano {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.nano > .nano-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 3px 0 3px 3px;
  padding-right: 20px;
}

.nano > .nano-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  margin: 2px 0;
  padding: 0 2px;
  width: 17px;
  border-left: 1px solid #ccc;
  background: #fff;
  background: linear-gradient(to right, #f5f5f5, #fff);
  background: -webkit-linear-gradient(left, #f5f5f5, #fff);
}

.nano > .nano-pane > .nano-slider {
  position: relative;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  background: linear-gradient(to left, #eee, #fff);
  background: -webkit-linear-gradient(right, #eee, #fff);
}

.ui-tabs {
  display: block;
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ui-tab {
  display: block;
  float: left;
  margin-bottom: -1px;
  padding: 8px 10px 8px 10px;
  height: 36px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 0;
  background: #fff;
  color: #bbb;
  cursor: pointer;
}

.ui-tab:hover {
  background: #f5f5f5;
  color: #777;
}

.ui-tab.is-active {
  margin-top: -6px;
  padding: 11px 10px 11px 10px;
  height: 42px;
  border: 1px solid #ccc !important;
  border-bottom: 1px solid transparent !important;
  border-radius: 4px 4px 0 0 !important;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .075);
  color: inherit;
  cursor: default;
}

.ui-tab.is-active:hover {
  background: #fff;
}

.ui-tab + .ui-tab {
  border-left: 1px solid #ccc;
  border-radius: 0;
}

.ui-tab.is-active + .ui-tab {
  border-left: none;
}

.ui-tab:last-child {
  border-right: 1px solid #ccc;
  border-radius: 0 4px 0 0;
}