{{#if params}}
  <table class="table-data">
    {{#each params}}
      <tr id="param_{{id}}" data-param="{{id}}">
        <td class="cw-btn-one">
          <button class="btn btn-green ico-update param-update" title="Редактировать"></button>
        </td>
        <td>
          <div class="param-info">{{title}}</div>
          <input type="text" class="param-title" value="{{title}}" maxlength="80"
                 placeholder="Наименование параметра" disabled style="display: none;">
        </td>
        <td class="cw-entity-uid">
          <input class="param-uid" type="text" value="{{uid}}" maxlength="12" placeholder="UID" disabled>
        </td>

        <td class="cw-param-types">
          <div class="ui-select">
            <input type="hidden" class="param-type" value="{{type.name}}">
            <div class="ui-select-value" disabled>{{type.title}}</div>
            <div class="ui-select-options">
              {{#each ../types}}
                <div class="ui-select-option" value="{{name}}">{{title}}</div>
              {{/each}}
            </div>
          </div>
        </td>

        <td class="cw-param-range"><input class="param-minDelta" type="text" value="{{minDelta}}" disabled></td>
        <td class="cw-param-range"><input class="param-min" type="text" value="{{min}}" disabled></td>
        <td class="cw-param-range"><input class="param-max" type="text" value="{{max}}" disabled></td>
        <td class="cw-param-range"><input class="param-maxDelta" type="text" value="{{maxDelta}}" disabled></td>

        <td class="cw-param-quality">
          <div class="ui-select">
            <input type="hidden" class="param-quality" value="{{quality.name}}">
            <div class="ui-select-value" disabled>{{quality.title}}</div>
            <div class="ui-select-options">
              {{#each ../qualities}}
                <div class="ui-select-option{{#equals name ../quality.name}} is-active{{/equals}}" value="{{name}}">{{title}}</div>
              {{/each}}
            </div>
          </div>
        </td>

        <td class="cw-param-modality"><input type="text" class="param-ma" value="{{ma}}" maxlength="3" disabled></td>
        <td class="cw-param-modality"><input type="text" class="param-mv" value="{{mv}}" maxlength="3" disabled></td>
        <td class="cw-param-modality"><input type="text" class="param-mk" value="{{mk}}" maxlength="3" disabled></td>

        <td class="cw-btn-one">
          <button class="btn btn-gray ico-delete param-delete" title="Удалить"></button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}