<div id="prop-binds">
  <div class="content-title">
    Характеристика «{{pairs.[0].prop.title}}»<br>
  </div>

  <table class="table-data">
    {{#each pairs}}
      <tr>
        <td>{{location}}</td>
        <td>{{propValue}}<br>{{value_title}}</td>
        <td><input type="text" value="{{paramValue}}"></td>
      </tr>
    {{/each}}
  </table>
</div>