<table class="table-data">
  <tr class="table-header">
    <th colspan="3"></th>
    <th class="cw-param-types">Тип параметра</th>
    <th class="cw-param-range">Дельта Минимум</th>
    <th class="cw-param-range">Минимум</th>
    <th class="cw-param-range">Максимум</th>
    <th class="cw-param-range">Дельта Максимум</th>
    <th class="cw-param-quality">Качество</th>
    <th class="cw-param-radicals" style="display: none;">Радикалы</th>
    <th class="cw-param-entries" colspan="3" style="display: none;">Вхождения</th>
    <th class="cw-param-modality">А</th>
    <th class="cw-param-modality">В</th>
    <th class="cw-param-modality">К</th>
    <th class="cw-btn-one"></th>
  </tr>
</table>

<table class="table-form pane">
  <tr id="param">
    <td><input type="text" class="param-title" value="" maxlength="80" placeholder="Наименование параметра"></td>
    <td class="cw-entity-uid"><input class="param-uid" type="text" maxlength="12" placeholder="UID"></td>

    <td class="cw-param-types">
      <div class="ui-select">
        <input type="hidden" class="param-type" value="{{types.[0].name}}">
        <div class="ui-select-value">{{types.[0].title}}</div>
        <div class="ui-select-options">
          {{#each types}}
            <div class="ui-select-option" value="{{name}}">{{title}}</div>
          {{/each}}
        </div>
      </div>
    </td>

    <td class="cw-param-range"><input class="param-minDelta" type="text" value="0"></td>
    <td class="cw-param-range"><input class="param-min" type="text" value="0"></td>
    <td class="cw-param-range"><input class="param-max" type="text" value="100"></td>
    <td class="cw-param-range"><input class="param-maxDelta" type="text" value="0"></td>

    <td class="cw-param-quality">
      <div class="ui-select">
        <input type="hidden" class="param-quality" value="{{qualities.[1].name}}">
        <div class="ui-select-value">{{qualities.[1].title}}</div>
        <div class="ui-select-options">
          {{#each qualities}}
            <div class="ui-select-option" value="{{name}}">{{title}}</div>
          {{/each}}
        </div>
      </div>
    </td>

    <td class="cw-param-radicals" style="display: none;">
      <input path="radicals" type="text" value="***">
    </td>

    <td class="cw-param-entries" style="display: none;">
      <div class="ui-select">
        <div class="ui-select-value"></div>
        <div class="ui-select-options">
          <div class="ui-select-option">
            <input type="text" value="123" style="width: 42px; margin: -5px 0; float: left;">
            <input type="text" value="Красный" style="width: 60px; margin: -5px 6px; float: left;">
            <input type="text" value="123" style="width: 42px; margin: -5px 6px -5px 0; float: left;">
            <button class=" btn btn-blue ico-plus" style="margin: -5px 0;"></button>
          </div>
        </div>
      </div>
    </td>

    <td class="cw-param-modality"><input type="text" class="param-ma" value="100" maxlength="3"></td>
    <td class="cw-param-modality"><input type="text" class="param-mv" value="100" maxlength="3"></td>
    <td class="cw-param-modality"><input type="text" class="param-mk" value="100" maxlength="3"></td>

    <td class="cw-btn-one">
      <button class="btn btn-blue ico-plus param-insert" title="Добавить"></button>
    </td>
  </tr>
</table>