<div class="content-title">Параметры</div>

<table class="table-form pane">
  <tr>
    <td>
      <div class="ui-select params">
        <div class="ui-select-value" value="0">{{params.[0].title}}</div>
        <div class="ui-select-options">
          {{#each params}}
            <div class="ui-select-option" value="{{@index}}">{{title}}</div>
          {{/each}}
        </div>
      </div>
    </td>
    <td class="cw-param-range"><input class="version-minDelta" type="text" value="0"></td>
    <td class="cw-param-range"><input class="version-min" type="text" value="0"></td>
    <td class="cw-param-range"><input class="version-max" type="text" value="100"></td>
    <td class="cw-param-range"><input class="version-maxDelta" type="text" value="0"></td>
    <td class="cw-param-quality">
      <div class="ui-select-value" disabled>{{params.[0].quality.title}}</div>
    </td>
    <td class="cw-param-types">
      <div class="ui-select-value version-type" disabled>{{params.[0].type.title}}</div>
    </td>
    <td class="cw-btn-one">
      <button class="btn btn-blue ico-plus version-insert" title="Добавить"></button>
    </td>
  </tr>
</table>

<table class="table-data">
  {{#each versions}}
    <tr id="version_{{id}}" data-version="{{id}}">
      <td class="cw-btn-one">
        <button class="btn btn-green ico-update version-update" title="Редактировать"></button>
      </td>
      <td>{{title}}</td>
      <td class="cw-param-range"><input type="text" class="version-minDelta" value="{{minDelta}}" disabled></td>
      <td class="cw-param-range"><input type="text" class="version-min" value="{{min}}" disabled></td>
      <td class="cw-param-range"><input type="text" class="version-max" value="{{max}}" disabled></td>
      <td class="cw-param-range"><input type="text" class="version-maxDelta" value="{{maxDelta}}" disabled></td>
      <td class="cw-param-quality">
        <div class="ui-select-value" disabled>{{quality.title}}</div>
      </td>
      <td class="cw-param-types">
        <div class="ui-select-value version-type" disabled>{{type.title}}</div>
      </td>
      <td class="cw-btn-one">
        <button class="btn btn-gray ico-delete version-delete" title="Удалить"></button>
      </td>
    </tr>
  {{/each}}
</table>