<table class="table-data">
  {{#each perfects}}
    <tr>
      <td class="cw-btn-one">
        <button class="btn btn-default">{{rank}}</button>
      </td>
      <td>{{title}}</td>
      {{#if static}}
        <td class="cw-param-radicals">{{radicals}}</td>
      {{else}}
        <td class="cw-param-range">{{minDelta}}</td>
        <td class="cw-param-range">{{min}}</td>
        <td class="cw-param-range">{{max}}</td>
        <td class="cw-param-range">{{maxDelta}}</td>
      {{/if}}
      <td class="cw-param-quality">
        <div class="ui-select-value" disabled>{{quality.title}}</div>
      </td>
      <td class="cw-param-types">
        <div class="ui-select-value version-type" disabled>{{type.title}}</div>
      </td>
      <td class="cw-btn-one">
        <button class="btn btn-default">{{rate}}</button>
      </td>
    </tr>
  {{/each}}
</table>