<table class="table-data">
  {{#each cars}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>Причина: {{state}}</td>
      <td>{{reason}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{price}}</td>
    </tr>
    {{#each props}}
      <tr>
        <td></td>
        <td>#{{id}} #{{uid}} {{title}}</td>
        <td></td>
        <td>{{location}}</td>
        <td>{{data_value}}</td>
        <td>{{#if option_id}}{{option_id}}-{{option_title}}{{/if}}</td>
        <td>{{price}}</td>
      </tr>
    {{/each}}
  {{/each}}
</table>