{{#if events}}
  <table class="table-data">
    {{#each events}}
      <tr id="event_{{id}}" data-event="{{id}}">
        <td class="cw-btn-one">
          <button class="btn btn-green ico-update event-update" title="Редактировать"></button>
        </td>
        <td>
          <div class="event-info">{{title}}</div>
          <input type="text" class="event-title" value="{{title}}" maxlength="80"
                 placeholder="Наименование эвента" disabled style="display: none;">
        </td>
        <td class="cw-event-radicals">
          <input type="text" class="event-radicals" value="{{radicals}}" placeholder="Радикалы" disabled>
        </td>
        <td class="cw-event-modality">
          <div class="ui-select">
            <input type="hidden" class="event-modality" value="{{modality.name}}">
            <div class="ui-select-value" disabled>{{modality.title}}</div>
            <div class="ui-select-options">
              {{#each ../modalities}}
                <div class="ui-select-option{{#equals name ../modality.name}} is-active{{/equals}}" value="{{name}}">{{title}}</div>
              {{/each}}
            </div>
          </div>
        </td>
        <td class="cw-event-money">
          <input type="text" class="event-money" value="{{currency money}}" placeholder="Деньги" disabled>
        </td>
        <td class="cw-btn-one">
          <button class="btn btn-gray ico-delete event-delete" title="Удалить"></button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}