<div class="ui-box">
  <div class="ui-grid-2-3" style="padding-right: 20px;">
    <div class="content-title">Эвент «{{event.title}}»</div>

    Профиль: {{event.radicals}}<br>
    Модальность: {{event.modality.title}}<br>
    Секвенция: {{event.sequence.radicals}} / {{event.sequence.title}}<br>
    Стратегии: {{event.sequence.ARule.title}}, {{event.sequence.BRule.title}}, {{event.sequence.PRule.title}}<br>
    Деньги: {{currency event.money}}<br><br>
    Создано: {{dateFormat event.dateInsert}}<br>
    Изменено: {{dateFormat event.dateUpdate}}
  </div>

  <div class="ui-grid-1-3">
    <div class="content-title">Сценарии
      <div style="position: absolute; right: 7px; top: 10px;">
        <button class="btn btn-blue ico-repeat event-merge" data-event="{{event.id}}" title="Обновить"></button>
      </div>
    </div>
    <div class="ui-select-list is-multiple" size="5" id="scenarios">
      <div class="ui-select-options">
        {{#each scenarios}}
          <div class="ui-select-option{{#if active}} is-active{{/if}}" value="{{id}}">{{title}}</div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">UI.scrolls.init();</script>