<table class="table-form pane">
  <tr id="event">
    <td><input type="text" class="event-title" maxlength="80" placeholder="Наименование эвента"></td>
    <td class="cw-event-radicals">
      <input type="text" class="event-radicals" value="" maxlength="20" placeholder="Профиль">
    </td>
    <td class="cw-event-modality">
      <div class="ui-select">
        <input type="hidden" class="event-modality" value="{{modalities.[0].name}}">
        <div class="ui-select-value">{{modalities.[0].title}}</div>
        <div class="ui-select-options">
          {{#each modalities}}
            <div class="ui-select-option" value="{{name}}">{{title}}</div>
          {{/each}}
        </div>
      </div>
    </td>
    <td class="cw-event-money">
      <input type="text" class="event-money" value="" placeholder="Деньги">
    </td>
    <td class="cw-btn-one">
      <button class="btn btn-blue ico-plus event-insert" title="Добавить"></button>
    </td>
  </tr>
</table>