<table class="table-data">
  {{#each sequences}}
    <tr id="sequence_{{id}}" data-sequence="{{id}}">
      <td class="cw-btn-one">
        <button class="btn btn-green ico-update sequence-update" title="Редактировать"></button>
      </td>
      <td>
        <div class="sequence-info">{{title}}</div>
        <input type="text" class="sequence-title" value="{{title}}" maxlength="80" placeholder="Описание секвенции" style="display: none;">
      </td>
      <td class="cw-sequence-radicals">
        <input type="text" class="sequence-radicals" value="{{radicals}}" maxlength="3" placeholder="Радикалы" disabled>
      </td>
      <td class="cw-sequence-rule">
        <div class="ui-select">
          <input type="hidden" class="sequence-ARule" value="{{ARule.name}}">
          <div class="ui-select-value" disabled>{{ARule.title}}</div>
          <div class="ui-select-options">
            {{#each ../ARules}}
              <div class="ui-select-option{{#equals name ../ARule.name}} is-active{{/equals}}" value="{{name}}">{{title}}</div>
            {{/each}}
          </div>
        </div>
      </td>
      <td class="cw-sequence-rule">
        <div class="ui-select">
          <input type="hidden" class="sequence-BRule" value="{{BRule.name}}">
          <div class="ui-select-value" disabled>{{BRule.title}}</div>
          <div class="ui-select-options">
            {{#each ../BRules}}
              <div class="ui-select-option{{#equals name ../BRule.name}} is-active{{/equals}}" value="{{name}}">{{title}}</div>
            {{/each}}
          </div>
        </div>
      </td>
      <td class="cw-sequence-rule">
        <div class="ui-select">
          <input type="hidden" class="sequence-PRule" value="{{PRule.name}}">
          <div class="ui-select-value" disabled>{{PRule.title}}</div>
          <div class="ui-select-options">
            {{#each ../PRules}}
              <div class="ui-select-option{{#equals name ../PRule.name}} is-active{{/equals}}" value="{{name}}">{{title}}</div>
            {{/each}}
          </div>
        </div>
      </td>
      <td class="cw-btn-one">
        <button class="btn btn-gray ico-delete sequence-delete" title="Удалить"></button>
      </td>
    </tr>
  {{/each}}
</table>