<table class="table-data">
  <tr class="table-header">
    <th></th>
    <th class="cw-sequence-radicals"></th>
    <th class="cw-sequence-rule">Ранг A</th>
    <th class="cw-sequence-rule">Ранг B</th>
    <th class="cw-sequence-rule">Ресурсы</th>
    <th class="cw-btn-one"></th>
  </tr>
</table>

<table class="table-form pane">
  <tr id="sequence">
    <td><input type="text" class="sequence-title" maxlength="80" placeholder="Описание секвенции"></td>
    <td class="cw-sequence-radicals"><input type="text" class="sequence-radicals" maxlength="20" placeholder="Радикалы"></td>

    <td class="cw-sequence-rule">
      <div class="ui-select">
        <input type="hidden" value="{{ARules.[0].name}}" class="sequence-ARule">
        <div class="ui-select-value">{{ARules.[0].title}}</div>
        <div class="ui-select-options">
          {{#each ARules}}
            <div class="ui-select-option" value="{{name}}">{{title}}</div>
          {{/each}}
        </div>
      </div>
    </td>
    <td class="cw-sequence-rule">
      <div class="ui-select">
        <input type="hidden" value="{{BRules.[0].name}}" class="sequence-BRule">
        <div class="ui-select-value">{{BRules.[0].title}}</div>
        <div class="ui-select-options">
          {{#each BRules}}
            <div class="ui-select-option" value="{{name}}">{{title}}</div>
          {{/each}}
        </div>
      </div>
    </td>
    <td class="cw-sequence-rule">
      <div class="ui-select">
        <input type="hidden" value="{{PRules.[1].name}}" class="sequence-PRule">
        <div class="ui-select-value">{{PRules.[0].title}}</div>
        <div class="ui-select-options">
          {{#each PRules}}
            <div class="ui-select-option" value="{{name}}">{{title}}</div>
          {{/each}}
        </div>
      </div>
    </td>
    <td class="cw-btn-one">
      <button type="submit" class="btn btn-blue ico-plus sequence-insert" title="Добавить"></button>
    </td>
  </tr>
</table>